##
  healthchecks:
    image: linuxserver/healthchecks:2.7.20230324
    container_name: healthchecks
    hostname: 'healthchecks'
    restart: unless-stopped
    environment:
      - PUID=$HEALTH_SUDO_PUID
      - PGID=$HEALTH_SUDO_PGID
      - SUPERUSER_EMAIL=$HEALTH_SUDO_USER
      - SUPERUSER_PASSWORD=$HEALTH_SUDO_PASSWORD
      - SITE_ROOT=$HEALTH_SITE_ROOT
      - SITE_NAME=$HEALTH_SITE_NAME
      - DEFAULT_FROM_EMAIL=$HEALTH_DEFAULT_FROM_EMAIL
      - EMAIL_HOST=$HEALTH_EMAIL_HOST
      - EMAIL_PORT=$HEALTH_EMAIL_PORT
      - EMAIL_HOST_USER=$HEALTH_EMAIL_HOST_USER
      - EMAIL_HOST_PASSWORD=$HEALTH_EMAIL_HOST_PASSWORD
      - EMAIL_USE_TLS=False
      - EMAIL_USE_SSL=True
      - TZ=Europe/Budapest
      - DEBUG=False
    volumes:
      - /data/healthchecks:/config
    networks:
      - healthchecks
    ports:
      - 127.0.0.1:6069:8000
