##
  healthchecks:
    image: prom/prometheus:v2.43.0
    container_name: healthchecks
    hostname: 'healthchecks'
    restart: unless-stopped
    volumes:
      - /data/healthchecks:/etc/prometheus
    networks:
      - healthchecks
    ports:
      - 127.0.0.1:6069:9090
