DIR_DEVOPS=/devops
DIR_DEVOPS_BACKUPS=/backups
DIR_DEVOPS_DATA=/data

FAIL2BAN_MAX_RETRY=3

FILE_DEVOPS_ENV=https://downloads.lildworks.cloud/ldt/devops/latest/docker-compose.env
FILE_DEVOPS_COMPOSE=https://downloads.lildworks.cloud/ldt/devops/latest/docker-compose.yml

GITLAB_RUNNER_REGISTRATION_TOKEN=registration-token

UFW_ALLOW_IN=http,https,ssh
UFW_ALLOW_OUT=http,https,53/udp
